*{
	padding:0;
	margin:0;
}
.title{
	padding-top:15px;
	padding-left:20px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.subtitle{
	padding-top:15px;
	padding-left:20px;
	font-weight:500;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.sbox{
	width:735px;
	height:75px;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0,0,0,1.0);
	margin:5px;
	border:2px solid rgba(0,0,0,1.0);
	
}
.appList{
	width:750px;
	height:500px;
	border:4px solid rgba(0,0,0,1.0);
	border-radius:2px;
}
.inText1{
	width:50px;
	text-align:center;
	font-size:20px;
	font-weight:500;
	display:block;
	padding-top:10px;
	padding-left:14%;
}
.inBtn1{
	width:100px;
	text-align:center;
	font-size:20px;
	font-weight:500;
	display:block;
	padding-top:2px;
	padding-left:12.5%;
}